:root {
    --primary-color: #035f59;
    --second-color: #00bcb6;
    --neutral-grey: #748283;
    --neutral-light: #ffffff;
    --highlight-color: #f5ba36;
}


* {
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    margin: 0;

}

h1 {
    font-size: 2.5rem;
    color: var(--neutral-light)
}

h2 {
    font-size: 2rem;
    color: var(--primary-color)
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color)
}

p, ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey)
}

img {
    max-width: 100%;
}


/* Layout */
.container {
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container > * {
    grid-column: span 12;
}

.portfolio {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 2rem;
}



.container-lg {

    width: min(100%, 100rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}

.container-lg > * {
    grid-column: span 12;
}

.primary-color {
    background-color: var(--primary-color);
}

.highlight-color {
    background-color: var(--highlight-color);
}

.text-center {
    text-align: center;
}

/* Desktop Layout */
@media screen and (min-width: 40rem)
{
        .site-id { 
            grid-column: 1 / span 6;
        }

        .menu { 
            grid-column: 7 / span 6;
        }

        .company { 
            grid-column: 1 / span 8;
        }

        .company-image { 
            grid-column: 9 / span 4;
        }
        .portfolio {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(5, 1fr);
        }
}



