body {
    margin: 0 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/bg.png");
    }
.container{
    background-color: white;
}
header {
background-color: rgb(183, 224, 240);
color: white;
padding: 2rem;
}
    h1  {
    font-size: 2rem;
    }
    h2 {
    font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    img {
        border-radius: 50%;
      }